<?xml version="1.0"?>
<config>
    <modules>
        <Adestra_MFSubscriptions>
            <version>0.0.9</version>
        </Adestra_MFSubscriptions>
    </modules>
    <global>
        <helpers>
            <mfsubscriptions>
                <class>Adestra_MFSubscriptions_Helper</class>
            </mfsubscriptions>
        </helpers>
        <blocks>
             <mfsubscriptions>
                <class>Adestra_MFSubscriptions_Block</class>
             </mfsubscriptions>
           <adminhtml>            
              <rewrite>  
                     <customer_edit_tabs>Adestra_MFSubscriptions_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs> 
                </rewrite>  
            </adminhtml>
        </blocks>

 		<models>
             <mfsubscriptions>
                <class>Adestra_MFSubscriptions_Model</class>
				<resourceModel>mfsubscriptions_resource</resourceModel> 
<!--				<resourceModel>mfsubscriptions_resource_eva_mysql4</resourceModel> 
-->             </mfsubscriptions>
             <mfsubscriptions_resource>
                <class>Adestra_MFSubscriptions_Model_Resource</class>
				<entities>
					<list>
						<table>mfsubscriptions_lists</table>
					</list>
				</entities>                 
             </mfsubscriptions_resource>
             <mfsubscriptions_resource_eva_mysql4>
                <class>Adestra_MFSubscriptions_Model_Mysql4</class>
				<entities>
					<list>
						<table>mfsubscriptions_lists</table>
					</list>
				</entities>                 
             </mfsubscriptions_resource_eva_mysql4>
        </models>
		<events>
			<controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <subscription_admin_check>
                        <class>mfsubscriptions/adminhtml_validate</class>
                        <method>mfApiCheck</method>
                    </subscription_admin_check>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>			
			<adminhtml_customer_save_after>
                <observers>
                    <customer_admin_edit>
<!--                        <class>mfsubscriptions/adminhtml_customer_edit</class>
                        <method>saveCustomer</method>
-->
                        <class>mfsubscriptions/customer_observer</class>
                        <method>subscribeCustomer</method>
                    </customer_admin_edit>
                </observers>
            </adminhtml_customer_save_after>
			<customer_register_success>	
                <observers>
                    <customer_subscribe>
                        <class>mfsubscriptions/customer_observer</class>
                        <method>subscribeCustomer</method>
                    </customer_subscribe>
                </observers>
			</customer_register_success>		
			<customer_save_after>	
                <observers>
                    <customer_save>
                        <class>mfsubscriptions/customer_observer</class>
                        <method>saveCustomer</method>
                    </customer_save>
                </observers>
			</customer_save_after>		
			<checkout_type_onepage_save_order_after>	
                <observers>
                    <customer_subscribe>
                        <class>mfsubscriptions/customer_observer</class>
                        <method>checkoutSubscribeCustomer</method>
                    </customer_subscribe>
                </observers>
			</checkout_type_onepage_save_order_after>		
		</events>
		<resources>
			<mfsubscriptions_setup>
				<setup>
					<module>Adestra_MFSubscriptions</module>
					<class>Adestra_MFSubscriptions_Model_Resource_Setup</class>
				</setup>
			</mfsubscriptions_setup>
		</resources>

    </global>
	<frontend>
		<layout>
			<updates>
				<mfsubscriptions>
		   		      <file>mfsubscriptions.xml</file>
				</mfsubscriptions>
			</updates>
       	</layout>		

        <routers>
            <mfsubscriptions>
                <use>standard</use>
                <args>
                    <module>Adestra_MFSubscriptions</module>
                    <frontName>mfsubscriptions</frontName>
                </args>
         	</mfsubscriptions>
            <checkout>
                <args>
                    <modules>
<!--                        <Adestra_MFSubscriptions before="Mage_Checkout">Adestra_MFSubscriptions</Adestra_MFSubscriptions>
-->                    </modules>
                </args>
            </checkout>
        </routers>
	</frontend>
	<default>
		<adestra>
			<mfsubscriptions>
				<accountid>0</accountid>
			</mfsubscriptions>
			<mfsubscriptions>
				<apiendpoint>https://new.adestra.com/api/xmlrpc/</apiendpoint>
			</mfsubscriptions>
		</adestra>
	</default>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<adestra>
											<title>Adestra settings</title>
										</adestra>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <layout>
            <updates>
                <adestra_mfsubscriptions>
                    <file>mfsubscriptions.xml</file>
                </adestra_mfsubscriptions>
            </updates>
        </layout>
	</adminhtml>	
    <admin>
        <routers>
            <adminhtml>
                <args>
				   <modules>
					 <mfsubscriptions after="Mage_Adminhtml">Adestra_MFSubscriptions_Adminhtml</mfsubscriptions>
				   </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>	
</config> 